.my-table {
  color: aliceblue;
  font-size: 1.5rem;
}
.table-cases-num {
  color: #2ed573;
}
.table-today-num {
  color: #ff4757;
}
.table-recovered-num {
  color: #1e90ff;
}
.table-critical-num {
  color: #f39c12;
}


